/* @keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

html,
body {
  overflow-x: hidden;
} */

/* body {
  margin: 0;
  height: auto;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  color: #0324fc;
}

.container {
  margin: auto;
  height: auto;
  width: 100%;
  max-width: 600px;
  -webkit-overflow-scrolling: touch;
  /* border: 1px solid white; */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  animation: zoom-in-zoom-out 1s ease;
}

#file-upload {
  display: flex;
  position: absolute;
  min-width: 0;
  opacity: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  border: 3px dashed white;
  height: 220px;
  width: 100%;
  margin: 10px;
  outline: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  position: relative;
  gap: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 220px;
  width: 570px;
  margin: 10px;
  z-index: 1;
  border: 3px dashed white;
}

.text {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  border: 5px solid white;
  margin: 0 !important;
}

.prompt {
  font-size: 14px;
  color: white;
}

.selected_files_container {
  height: 160px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;
  animation: zoom-in-zoom-out 1s ease;
  align-items: center;
}

.no_files {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
}

#left_btn {
  height: 50px;
  width: 30px;
  position: absolute;
  font-size: 30px;
  left: 12px;
  margin: auto 0px;
  display: flex;
  z-index: 6;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  color: darkgrey;
}

#right_btn {
  height: 50px;
  position: absolute;
  right: 12px;
  margin: auto 0px;
  width: 30px;
  font-size: 30px;
  display: flex;
  z-index: 6;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  color: darkgrey;
}

.selected_files {
  height: 160px;
  width: 600px;
  position: relative;
  border-radius: 20px;
  z-index: 3;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: 10px;
  align-items: center;
  border: 2px solid white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: inset 0px 0px 15px 1px rgba(255, 255, 255, 1);
}

.selected_files::-webkit-scrollbar {
  display: none;
}

.image_container {
  height: 140px;
  width: 130px;
  position: absolute;
  scroll-snap-align: start;
  scroll-margin: 10px;
  user-select: none;
  z-index: 0;
}

.image_box {
  height: 140px;
  cursor: move;
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  z-index: 2;
  width: 120px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  margin: 0;
}

.file_name {
  height: 25px;
  color: white;
  display: flex;
  position: relative;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
}

.pos-abs {
  height: 140px;
  width: 120px;
  position: absolute;
  pointer-events: none;
  will-change: transform;
}

.z6 {
  z-index: 6;
}

.z5 {
  z-index: 5;
}

.image {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  height: 140px;
  width: 120px;
  margin: 0;
}
.title-pdf {
  font-family: monospace;
  text-align: center;
  color: aqua;
  font-weight: bold;
}
.remove:hover {
  background-color: tomato;
  color: #e8e8e8;
}
.remove {
  background-color: aqua;
  display: flex;
  width: auto;
  height: 30px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  outline: none;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  border: none;
  font-size: 12px;
  font-weight: bold;
}

.button_container {
  height: 60px;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  color: black;
  border: none;
  font-weight: bold;
  border-radius: 20px;
  background-color: white;
  outline: none;
  font-size: 14px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  animation: zoom-in-zoom-out 1s ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.action:active {
  background-color: #e8e8e8;
}

.clear_queue {
  width: 150px;
}

.download {
  width: 220px;
}

.ripple {
  width: 2px;
  height: 2px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  animation: rippleEffect 0.5s ease-in-out;
}

.popup_container {
  position: fixed;
  height: 40px;
  z-index: 10;
  top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  height: 40px;
  margin: auto;
  z-index: 10;
  min-width: 280px;
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #474747;
  color: white;
  font-size: 14px;
  animation: bounceInDown 1s ease;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.info {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: justify;
}

.small {
  font-size: 18px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rippleEffect {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(var(--scale));
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .navbar {
    height: 80px;
  }

  .header {
    margin: 15px;
    font-size: 24px;
  }

  a {
    margin: 0 20px;
  }
}
